# Database connection
SPRING_DATASOURCE_URL=jdbc:postgresql://host.docker.internal:5433/blockly
POSTGRES_USER=blockly
POSTGRES_PASSWORD=blocklypwd

# Kafka
KAFKA_BOOTSTRAP_SERVERS=host.docker.internal:29092

# Eureka Discovery
EUREKA_URL=http://host.docker.internal:8761/eureka/

# Liquibase (set to false if migrations run elsewhere)
LIQUIBASE_ENABLED=true
